{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    {% include "includes/header.html" %}

    <!-- Page Header -->
    <header class="masthead"
            style="background-image: url('https://images.unsplash.com/photo-1531592937781-344ad608fabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Register</h1>
                        <h5>Get Better Tailored Experience!</h5>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto content" style="width: 25%">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
            {#        <div class="col-lg-8 col-md-10 mx-auto">#}
            {#            <div class="input-group">#}
            {#                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>#}
            {#                {{ form.email(placeholder="name@example.com", class_="form-control") }}#}
            {#            </div>#}
            {#            <div class="input-group">#}
            {#                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>#}
            {#                {{ form.password(placeholder="Password", class_="form-control") }}#}
            {#            </div>#}
            {#            <div class="input-group">#}
            {#                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>#}
            {#                {{ form.name() }}#}
            {#            </div>#}
            {#            {{ form.submit() }}#}

        </div>
    </div>

    {% include "includes/footer.html" %}
{% endblock %}
